* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}


.app-layout {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;

    padding: 40px;
    margin-left: 28px;

    transition: margin-left .3s ease;
}