.choice-word {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: 600;
}

.choice-word:hover {
    background-color: #ececec;
}

.selected {
    background-color: #ffe28a;
}

.choice-word.selected {
    background-color: #ffe28a;
}

.choice-word.selected:hover {
    background-color: #ffe28a;
}

.choice-word:not(.selected):hover {
    background-color: #ececec;
}

.choice-word.correct {
    background: #9be39b;
}

.choice-word.incorrect {
    background: #ef9a9a;
}