.topics-layout {

    display: flex;

    width: 100%;

    align-items: flex-start;

}

.topics-page {

    flex: 1;

    margin-left: 0;

    width: 100%;

    border: 1px solid #bbb;

    border-radius: 18px;

    padding: 2rem;

    min-height: 600px;

}

.topics-list {
    display: flex;
    flex-direction: column;
}

.topic-item {
    border-bottom: 1px solid #d4d4d4;
    padding: 1rem 2rem;
}

.topic-header {
    all: unset;
    display: block;
    width: 100%;
    cursor: pointer;

    font-size: 1.5rem;
    font-weight: 500;
}

.topic-item:hover {
    background-color: #fafafa;
}

.topics-header {

    padding: 2rem 2rem 2rem 8rem;

    border-bottom: 1px solid #ccc;

}

.topics-content {

    padding: 2rem 2rem 2rem 8rem;

}

.cefr-tabs {

    display: flex;

    flex-direction: column;

    align-items: flex-start;

    margin-left: 0;

    margin-top: 90px;

}

.tab {

    width: 60px;

    text-align: center;

    padding: 12px;

    margin-bottom: 8px;

    text-decoration: none;

    color: black;

    border: 1px solid #aaa;

    border-left: none;

    border-radius: 12px 0 0 12px;

    background: #ececec;

    transition: .2s;

}

.tab.active {

    width: 120px;

    background: white;

    font-weight: bold;

}

