<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Meine Kladde{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topics.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lesson.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exercise.css') }}">
</head>
<body>

<div class="app-layout">

    <button id="menu-toggle" class="menu-button">
        ☰
    </button>

        <aside class="sidebar">
        
            <nav>
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('grammar') }}">Grammar</a>
                <a href="#">Vocabulary</a>
                <a href="#">Dictionary</a>
                <a href="#">My Notes</a>
                <a href="#">Progress</a>
                <a href="#">Topics</a>
                <a href="#">Tutor</a>
                <a href="#">Roadmap</a>
                <a href="#">Settings</a>
            </nav>

        </aside>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

</div>

<script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
<script src="{{ url_for('static', filename='js/exercise.js') }}"></script>

</body>
</html>