{% extends "base.html" %}

{% block title %}
Meine Kladde
{% endblock %}


{% block sidebar %}

<nav>

    <a href="#">Home</a>
    <a href="#">Grammar</a>
    <a href="#">Vocabulary</a>
    <a href="#">Dictionary</a>
    <a href="#">My Notes</a>
    <a href="#">Progress</a>
    <a href="#">Topics</a>
    <a href="#">Tutor</a>
    <a href="#">Roadmap</a>
    <a href="#">Settings</a>

</nav>

{% endblock %}


{% block content %}

<h1>Meine Kladde</h1>

<div class="search-bar">
    Search
</div>

<div class="hero-section">
    <div class="large-card">
        <a href="{{ url_for('grammar') }}" class="large-card">
            <h2>Grammar</h2>
        </a>
    </div>
    <div class="large-card">Vocabulary</div>
</div>

<div class="feature-grid">
    <div class="small-card">My Notes</div>
    <div class="small-card">Progress</div>
    <div class="small-card">Topics</div>

    <div class="small-card">Tutor</div>
    <div class="small-card">Dictionary</div>
    <div class="small-card">Roadmap</div>
</div>

{% endblock %}